/* -------------------------------------------------- \
                        General
\ -------------------------------------------------- */

@font-face {
    font-family: Lota;
    src: url(/fonts/Lato-Regular.ttf);
}

h1{
    text-align: center;
}

/* -------------------------------------------------- \
                        Login
\ -------------------------------------------------- */
.login-form{
    max-width: 200px;
    margin: 50px auto;
}

.login-form .login-inputs{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 200px;
    margin: auto;
}

.login-form .login-inputs .username, .login-form .login-inputs .password{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.login-form .login-inputs .username #input-username, .login-form .login-inputs .password #input-password, .login-form .login-inputs .submit-login{
    height: 30px;
    margin-top: 5px;
}


/* -------------------------------------------------- \
                    Listing CV
\ -------------------------------------------------- */

.cv-cards{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    margin: 0 20px 50px 20px;
}

.cv-cards .cv-card{
    width: 100%;
    margin: 0px auto;
    background-color: white;
    box-shadow: 0px 5px 20px #999;
    border-radius: 10px;
    overflow: hidden;
    transition-property: transform;
    transition-duration: 0.4s;
    transition-delay: 0s;
    transition-timing-function: ease;
    text-decoration: none;
    color: black;
}

.cv-cards .cv-card:hover{
    box-shadow: 0px 5px 20px #999;
    transform: scale(1.05);
}

.cv-cards .cv-card .img-cv{
    display: block;
    height: 250px;
    width: 100%;
    object-fit: contain;
}

.cv-cards .cv-card .title-cv{
    padding: 5px 20px;
}

/* -------------------------------------------------- \
                    CV create
\ -------------------------------------------------- */

.form-data-cv{
    max-width: 1000px;
    margin: auto;
    padding: 10px;
    background-color: #EDEDED;
    border: 1px solid #999;
}

.form-data-cv h2{
    text-align: center;
}

.form-data-cv h2{
    border-top: 2px solid black;
    padding-top: 20px;
}

.form-data-cv h2:nth-child(2){
    border: none;
}

.data-form-data-cv-user{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
    grid-column-gap: 10px;
    grid-row-gap: 0px;
}

.networks_form{
    display: flex;
    flex-direction: column;
}

.data-form-data-cv-network > div{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(1, auto);
    grid-column-gap: 10px;
    grid-row-gap: 0px;
}

.data-form-data-cv-experience > div{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(5, auto);
    grid-column-gap: 10px;
    grid-row-gap: 0px;
}

.data-form-data-cv-experience .form-data-cv-network-description{
    grid-area: 3 / 1 / 3 / 4;
}

.data-form-data-cv-diplome > div{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(1, auto);
    grid-column-gap: 10px;
    grid-row-gap: 0px;
}

.data-form-data-cv-competence > div{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(1, auto);
    grid-column-gap: 10px;
    grid-row-gap: 0px;
}

.data-form-data-cv-user > div > div, .data-form-data-cv-experience > div > div, .data-form-data-cv-diplome > div > div, .data-form-data-cv-competence > div > div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.data-form-data-cv-user{
    margin: 20px 0;
}

.data-form-data-cv-networks, .data-form-data-cv-experiences, .data-form-data-cv-diplomes, .data-form-data-cv-competences{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.data-form-data-cv-user > div{
    margin: 20px;
}

/* .data-form-data-cv-network > div > div:not(:first-child), .data-form-data-cv-experience > div > div:not(:first-child){
    margin-left: 20px; 
}

.data-form-data-cv-network > div > div:not(:last-child), .data-form-data-cv-experience > div > div:not(:last-child){
    margin-right: 20px; 
} */

.data-form-data-cv-network, .data-form-data-cv-experience, .data-form-data-cv-diplome, .data-form-data-cv-competence{
    padding: 25px 0px;
    margin: 0 25px;
    border-bottom: 1px solid black;
}

.data-form-data-cv-network:last-child, .data-form-data-cv-experience:last-child, .data-form-data-cv-diplome:last-child, .data-form-data-cv-competence:last-child{
    border-bottom: none;
}

.data-form-data-cv-experience label, .data-form-data-cv-competence label{
    width: 455px;
}

.data-form-data-cv-experience textarea, .data-form-data-cv-competence textarea{
    width: 455px;
    resize: vertical;
}

.data-form-data-cv-experience > div > div > div > select{
    width: 50%;
    height: 35px;
}

.data-form-data-cv-experience > div > div > div > select:nth-child(2){
    display: none;
}

.data-form-data-cv-user > div > div label, .data-form-data-cv-network > div > div label, .data-form-data-cv-experience > div > div label, .data-form-data-cv-diplome > div > div label{
    margin-bottom: 5px;
}

.data-form-data-cv-user > div > div input, .data-form-data-cv-user > div > div #user_birth_date, .data-form-data-cv-network > div > div input, .data-form-data-cv-experience > div > div input, #experience_date_start, #experience_date_end, .data-form-data-cv-diplome  > div > div input, .data-form-data-cv-competence > div > div input{
    width: 100%;
    height: 35px;
}

.data-form-data-cv-user > div > div #user_birth_date #user_birth_date_day, .data-form-data-cv-user > div > div #user_birth_date #user_birth_date_month, .data-form-data-cv-user > div > div #user_birth_date #user_birth_date_year, .data-form-data-cv-experience > div > div #experience_date_start_day, .data-form-data-cv-experience > div > div #experience_date_start_month, .data-form-data-cv-experience > div > div #experience_date_start_year, .data-form-data-cv-experience > div > div #experience_date_end_day, .data-form-data-cv-experience > div > div #experience_date_end_month, .data-form-data-cv-experience > div > div #experience_date_end_year{
    width: 33%;
    height: 35px;
}

#experience_description{
    min-height: 100;
    min-width: 700px;
    max-width: 1400px;
}

.add_item_link{
    background-color: #33bdef;
    border-radius: 16px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 25px;
    font-weight: bold;
    padding: 0px 8px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
    align-self: flex-end;
    margin-right: 20px;
}

.add_item_link:hover{
    background-color: #019ad2;
}

.return-data-cv, #user_save, #user_saveAndManage, .return-to-data-cv, .manage-data-cv{
    box-shadow: 0px 1px 0px 0px #f0f7fa;
    background-color: #33bdef;
    border-radius: 6px;
    border: 1px solid #057fd0;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #5b6178;
}

.return-data-cv:hover, #user_save:hover, #user_saveAndManage:hover, .return-to-data-cv:hover, .manage-data-cv:hover{
    background-color: #019ad2;
}

.button-create-cv{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* -------------------------------------------------- \
                    CV Manage
\ -------------------------------------------------- */
.form-manage-cv{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
    padding: 10px;
    background-color: #EDEDED;
    border: 1px solid #999;
}

.form-manage-cv h2{
    text-align: center;
}

.form-data-manage-cv h2:not(:first-child){
    border-top: 2px solid black;
    padding-top: 20px;
}

.form-data-manage-cv #user_manage_networks, .form-data-manage-cv #user_manage_experiences, .form-data-manage-cv #user_manage_diplomes, .form-data-manage-cv #user_manage_competences{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-row-gap: 25px;
}

.form-data-manage-cv #user_manage_networks [type="checkbox"], .form-data-manage-cv #user_manage_experiences [type="checkbox"], .form-data-manage-cv #user_manage_diplomes [type="checkbox"], .form-data-manage-cv #user_manage_competences [type="checkbox"]{
    align-self: center;
}

.form-button-manage-cv{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 25px 0;
}

.return-manage-cv, #user_manage_save{
    box-shadow: 0px 1px 0px 0px #f0f7fa;
    background-color: #33bdef;
    border-radius: 6px;
    border: 1px solid #057fd0;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #5b6178;
}

.return-manage-cv:hover, #user_manage_save:hover{
    background-color: #019ad2;
}

/* -------------------------------------------------- \
                    CV Generate 
\ -------------------------------------------------- */

.cv-generate{
    display: flex;
    flex-direction: row;
    height: 29.7cm;
    width: 21cm;
    margin: auto;
    box-shadow: 0px 0px 4px 0px #000000;
    font-family: Lota;
    font-weight: 500;
    font-size: 13px;
}

.cv-generate h2{
    font-size: 16px;
    font-weight: 700;
}

.cv-generate-left{
    background-color: orange;
    width: 245px;
    padding: 20px;
}

.cv-generate-right{
    width: 548px;
    padding: 34px;
}

.cv-generate-diplomes, .cv-generate-diplome, .cv-generate-experiences, .cv-generate-experience, .cv-generate-competences, .cv-generate-competence, .cv-generate-networks, .cv-generate-network{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.cv-generate-diplome-year, .cv-generate-experience-year, .cv-generate-competence-title{
    width: 100px;
    color: #777;
}

.cv-generate-diplome-infos, .cv-generate-experience-infos, .cv-generate-competence-description{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: 360px;
}

.cv-generate-diplome-title{
    font-weight: 700;
}

.cv-generate-networks{
    justify-content: center;
}

.cv-generate-network{
    width: 33%;
    justify-content: center;
}

.cv-generate-network a{
    color: #33bdef;
    text-decoration: none;
}

.cv-generate-network a:hover{
    color: #019ad2;
}